<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheLibrary.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TheLibrary.My.MySettings>
            <setting name="Durasi" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Denda" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Nama_Perpustakaan" serializeAs="String">
                <value>Nama Perpustakaan</value>
            </setting>
            <setting name="Alamat" serializeAs="String">
                <value>Jl. Abcdefgh, Kota Ponorogo</value>
            </setting>
            <setting name="Telp" serializeAs="String">
                <value>Telp : 29387471</value>
            </setting>
        </TheLibrary.My.MySettings>
    </userSettings>
</configuration>